.horizontal-container-admin{
    display: flex;
    flex-flow: row wrap;
    margin: 10vh 10vw 10vh 10vw;
    gap: 5vw;
}

.vertical-admin-page-container{
    display: flex;
    flex-flow: column wrap;
    
}