.vertical-container-admin{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

.vertical-admin-page-container{
    display: flex;
    flex-flow: column wrap;
}

.form-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: $light-grey;
    border: 1px solid darken($light-grey, 5);
    border-radius: 1rem;
    padding: $font-size-xlarge;
}

.form-container-inner{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: $off-white;
    border: 1px solid darken($light-grey, 10);
    border-radius: 1rem;
    padding: 1rem;
}

.logout-adminpage{
    background-color: $dem-blue;
    border-radius: 0.5rem;
    color: $off-white;
    width: 20vw;
    align-self: center;
    text-decoration: none;
    font-size: $font-size-medium;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;    
    height: $font-size-xlarge;
    margin-top: 10vh;
}

.logout-adminpage:hover{
    background-color: lighten($dem-blue,10);
    box-shadow: 1rem;
}

.form-header-text{
    font-size: $font-size-large;
    color: $dem-blue;
    font-weight: bold;
    margin-bottom: 5vh;
}
.separator{
    background-color: $dem-blue;
    width: 80%;
    height: 2px;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.admin-table{
    width: 80vw;
}

.success-message{
    font-size: $font-size-xlarge;
    color: green;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.error-message{
    font-size: $font-size-xlarge;
    color: red;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.collapsible-wrapper{    
    min-width: 80%;
}

.collapsible-wrapper-opened{
    min-width: 80%;
}

.collapsible-trigger{
    background-color: $dem-blue;
    color: $off-white;
    font-size: $font-size-medium;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.collapsible-trigger-opened{
    background-color: $off-white;
    color: $dem-blue;
    font-size: $font-size-medium;
    outline: 1px solid $dem-blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}