.button-category-form-adminpage{
    margin-bottom: $font-size-small;
    margin-top: $font-size-small;
}

.category-form-image-input{
    margin-bottom: $font-size-small;
    margin-top: $font-size-small;
}