.footer-container {
    display: flex;
    flex-flow: column;
    min-height: $footer-height;
    column-gap: 0;
    width: 100%;
}

.footer-section-one {
    display: flex;
    flex-flow: row wrap;
    background-color: darken($dark-grey, 10);
    color: $light-grey;
    justify-content: flex-start;
    align-items: stretch;
    font-size: $font-size-medium;
    min-height: $footer-section-one-height;
    padding: 3rem 10rem;
    gap: 20rem;
    width: 100%;
}

.footer-horizontal-container-social {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    min-width: auto;
    gap: 2rem;
    flex-basis: 200px;
    flex-grow: 1;
}

.footer-icon {
    width: $font-size-xlarge;
    height: auto;
}

.footer-logo-image {
    width: 100%;
    height: auto;
}

.footer-vertical-container-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: auto;
    width: auto;
    gap: 1rem;
    flex-basis: 200px;
    flex-grow: 1;
}

.footer-info-text {
    width: 100%;
}

.footer-link-wrapper {
    width: 100%;
}

.footer-link {
    text-decoration: none;
    color: $light-grey;
}

.footer-link:hover {
    color: lighten($dem-blue-brigther, 10);
}

.footer-vertical-container-certificates {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: auto;
    flex-basis: 200px;
    flex-grow: 1;
    width: auto;
}

.horizontal-individual-certificate-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.footer-logo-image-certificate {
    width: $font-size-xlarge;
    height: auto;
}

.footer-section-two {
    display: flex;
    flex-flow: row wrap;
    background-color: darken($dark-grey, 20);
    color: lighten($dark-grey, 5);
    padding: 0 $padding-xlarge 0 $padding-xlarge;
    justify-content: center;
    align-items: center;
    font-size: $font-size-small;
    min-height: $footer-section-two-height;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width:600px),
(orientation: portrait),
(pointer: coarse),
(pointer: none) {
    .footer-section-one {
        flex-flow: column;
        padding: $font-size-medium $font-size-large;
        gap: $font-size-large;
    }

    .horizontal-individual-certificate-container {
        justify-content: flex-start;
        align-items: center;
    }

}