.footer-container{
    display: flex;
    flex-flow: column;
    height: $footer-height;
    column-gap: 0;
}

.footer-vertical-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    padding: $padding-small $padding-medium $padding-small $padding-medium;
}

.footer-horizontal-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    min-width: auto;
    gap: $padding-smaller;
}

.footer-section-one{
    display: flex;
    flex-flow: row wrap;
    background-color: darken($dark-grey, 10);
    color: $light-grey;
    padding: 0 $padding-xlarge 0 $padding-xlarge;
    justify-content: space-between;
    font-size: $font-size-medium;
    min-height: $footer-section-one-height;
}

.footer-section-two{
    display: flex;
    flex-flow: row wrap;
    background-color: darken($dark-grey, 20);
    color: lighten($dark-grey, 5);
    padding: 0 $padding-xlarge 0 $padding-xlarge;
    justify-content: center;
    align-items: center;
    font-size: $font-size-medium;
    min-height: $footer-section-two-height;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.footer-icon{
    width: 2.5vw;
    height: auto;
}

.footer-logo-image{
    max-width:100%;
}

.horizontal-certificate-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.footer-logo-image-certificate{
    width: 2vw;
    height: auto;
}

.link-footer{
    text-decoration: none;
    color: $light-grey;
}

.link-footer:hover{
    color: lighten($dem-blue-brigther,10);
}