.header-container-wrapper{
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(white, 0.9);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    font-size: $font-size-ml;
    backdrop-filter: blur(6px);
    transition: 0.4s;
    -webkit-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
}

.header-container-wrapper-small{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgba(lighten($light-grey, 30), 0.4);
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    font-size: $font-size-medium;
    transition: 0.4s;
    -webkit-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
}

// .header-horizontal-container{
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-evenly;
//     height: auto;
//     padding: $padding-smallest-header $padding-medium $padding-smallest-header $padding-smallest-header;
// }

.header-image-container{
    padding: $padding-smallest-header 0 $padding-smallest-header 0;
    margin-left: $padding-medium;
    width: $header-logo-image-width;
    display: flex;
    flex-flow: column wrap;    
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.header-image-container-small{
    padding: $padding-smallest-header 0 $padding-smallest-header 0;
    margin-left: $padding-medium;
    width: $header-logo-image-width-small;
    display: flex;
    flex-flow: column wrap;    
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.header-logo-image{
    width: 100%;
    height: auto;
}

.header-item-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-decoration: none !important;    
    color: darken($dark-grey,10);
    margin-left: $margin-smallest-sides;
}

.header-item-container:hover{ 
    color: $dem-orange;
    border-bottom: 1px solid $dem-orange;
    margin-bottom: -1px;
}

.header-item-container-collapsable{    
    font-size: $font-size-medium !important;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-decoration: none !important;    
    color: $dark-grey;    
    transition: 0.3s;
}

.header-item-container-collapsable:hover{ 
    color: $dem-orange;
}

.dropdown-menu {
    min-width: auto !important;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)){
    .header-container-wrapper{
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
    .header-container-wrapper-small{
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);

    }
}

@media (max-width:600px), (orientation: portrait), (pointer: coarse), (pointer: none) {
    .header-image-container{
        padding-left: 2rem;
        padding-top: 1rem;
        margin-left: 0;    
        width: $header-logo-image-width-mobile;
        display: flex;
        flex-flow: column wrap;    
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
    
    .header-image-container-small{
        padding-left: 2rem;
        padding-top: 1rem;
        margin-left: 0;
        width: $header-logo-image-width-small-mobile;
        display: flex;
        flex-flow: column wrap;    
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }

    .header-container-wrapper{
        padding-right: 2rem;
    }
}