.header-container-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(white, 0.9);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    font-size: $font-size-ml;
    backdrop-filter: blur(6px);
    transition: 0.4s;
    -webkit-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    padding-right: $padding-medium;
}

.header-container-wrapper-small {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgba(lighten($light-grey, 30), 0.4);
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    font-size: $font-size-medium;
    transition: 0.4s;
    -webkit-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 7px rgba(57, 63, 72, 0.3);
    padding-right: $padding-medium;
}

.header-image-container {
    padding: $padding-smallest-header 0 $padding-smallest-header 0;
    margin-left: $padding-medium;
    width: $header-logo-image-width;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.header-image-container-small {
    padding: $padding-smallest-header 0 $padding-smallest-header 0;
    margin-left: $padding-medium;
    width: $header-logo-image-width-small;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.header-logo-image {
    width: 100%;
    height: auto;
}

.header-item-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-decoration: none !important;
    color: darken($dark-grey, 10) !important;
    margin-left: $margin-smallest-sides;
    transition: color 0.2s ease;
}

.header-item-container:hover {
    color: $dem-orange !important;
    border-bottom: 1px solid $dem-orange;
    margin-bottom: -1px;
}

.header-item-container>a {
    color: darken($dark-grey, 10) !important;
}

.header-item-container>a:hover {
    color: $dem-orange !important;
}

.header-item-container-collapsable {
    font-size: $font-size-medium !important;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-decoration: none !important;
    color: $dark-grey;
    transition: 0.3s;
}

.header-item-container-collapsable:hover {
    color: $dem-orange;
}

.dropdown-menu {
    min-width: auto !important;
}

.header-contact-button-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-decoration: none !important;
    color: $off-white;
    background-color: rgba(lighten($dem-orange, 5), 0.8);
    border-radius: 15px;
    padding: 10px;
    margin-left: $margin-smallest-sides;
    border: 2px solid rgba(darken($dem-orange, 7), 0.8);
    transition: background-color .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.header-contact-button-container:hover {
    background-color: transparent;
    color: $dem-orange;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .header-container-wrapper {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    .header-container-wrapper-small {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);

    }
}

@media (max-width:600px),
(orientation: portrait),
(pointer: coarse),
(pointer: none) {
    .header-image-container {
        padding-left: 2rem;
        padding-top: 1rem;
        margin-left: 0;
        width: $header-logo-image-width-mobile;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }

    .header-image-container-small {
        padding-left: 2rem;
        padding-top: 1rem;
        margin-left: 0;
        width: $header-logo-image-width-small-mobile;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }

    .header-container-wrapper {
        padding-right: 2rem;
    }

    .header-container-wrapper-small {
        padding-right: 2rem;
    }

    .header-item-container:hover {
        margin-bottom: 0;
        border-bottom: none;
    }

}

@media (max-width:1200px),
(orientation: portrait),
(pointer: coarse),
(pointer: none) {

    .header-contact-button-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-decoration: none !important;
        color: darken($dark-grey, 10);
        background-color: transparent;
        border-radius: 0px;
        border: 0;
        padding: 0px;
    }
}