.contactpage-vertical-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: $font-size-large;
    width: 90%;
}

.contactpage-header {
    color: $dem-blue;
    font-size: $font-size-large;
    font-weight: bold;
}

.contactpage-image-stripe {
    width: 100%;
    height: auto;
}

.contactpage-image {
    width: 100%;
    height: auto;
}

.contact-page-horizontal-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10rem;
    width: 100%;
}

.contactpage-vertical-form-container {
    display: flex;
    flex-flow: column wrap;
    font-size: $font-size-medium;
    padding: $padding-medium $padding-xlarge $padding-medium $padding-xlarge;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid lighten($dark-grey, 3);
    border-radius: 10px;
    background-color: lighten($off-white, 2);
    flex-basis: 800px;
    flex-grow: 1;
    gap: 1rem;
}

.form-header {
    margin-bottom: 5rem;
    font-size: $font-size-large;
    color: $dem-blue;
}

.form-field {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 80%;
}

.form-field>input {
    border: none;
    outline: 1px solid lighten($light-grey, 3);
    margin-bottom: 2rem;
    font-size: $font-size-medium;
    width: 100%;
}

.form-field>textarea {
    border: none;
    margin-bottom: 2rem;
    font-size: $font-size-medium;
    outline: 1px solid lighten($light-grey, 3);
    width: 100%;
    min-height: 30vh;
}

.form-button {
    border: 1px solid $light-grey;
    border-radius: 5px;
    background-color: $light-grey;
}

.form-button:hover {
    background-color: darken($light-grey, 10);
}

.contactpage-vertical-text-container {
    display: flex;
    flex-flow: column wrap;
    font-size: $font-size-medium;
    align-items: center;
    justify-content: center;
    flex-basis: 600px;
    flex-grow: 1;
    width: auto;
}

.contactpage-vertical-text-div{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: center;
}

.contactpage-text-header {
    color: $dem-blue;
    font-weight: bold;
    font-size: $font-size-large;
}

.contact-text {
    color: darken($dark-grey, 10);
}

.contactpage-map-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.contactpage-map-header {
    color: $dem-blue;
    font-size: $font-size-large;
    margin-top: 10rem;
    font-weight: bold;
}

.contactpage-map{
    border: 1px solid lighten($light-grey, 3);
    margin-top: 5rem;
    width: 100%;
    min-height: 30vh;
}

.success-message-email {
    font-size: $font-size-large;
    color: green;
    max-width: 80%;
}

.error-message-email {
    font-size: $font-size-large;
    color: red;
    max-width: 80%;
}