.info-vertical-form-container {
    display: flex;
    flex-flow: column wrap;
    font-size: $font-size-medium;
    padding: $padding-medium $padding-xlarge $padding-medium $padding-xlarge;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid lighten($dark-grey, 3);
    border-radius: 10px;
    background-color: lighten($off-white, 2);
    flex-basis: 800px;
    flex-grow: 1;
}

// .info-vertical-form-container:hover {
//     box-shadow: 1px 1px 70px grey;
//     border: 1px solid $dem-orange;
// }

.info-vertical-text-container {
    display: flex;
    flex-flow: column wrap;
    font-size: $font-size-medium;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 800px;
    flex-grow: 1;
}

.form-header {
    margin-bottom: 5vh;
    font-size: $font-size-large;
    color: $dem-blue;
}

.form-field {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.form-field>label {
    margin-bottom: 1vh;
}

.form-field>input {
    border: none;
    outline: 1px solid lighten($light-grey, 3);
    margin-bottom: 2vh;
    font-size: $font-size-medium;
}

.form-field>textarea {
    border: none;
    margin-bottom: 2vh;
    font-size: $font-size-medium;
    outline: 1px solid lighten($light-grey, 3);
}

.form-button {
    border: 1px solid $light-grey;
    border-radius: 5px;
    background-color: $light-grey;
}

.form-button:hover {
    background-color: darken($light-grey, 10);
}


.contact-header {
    color: $dem-blue;
    font-weight: bold;
    font-size: $font-size-large;
}

.contact-field {
    color: darken($dark-grey, 10);
}

// .map-header {
//     color: $dem-blue;
//     font-size: $font-size-large;
//     margin-top: 10vh;
//     font-weight: bold;
// }

// .break {
//     flex-basis: 100%;
//     height: 0;
// }

.contactpage-vertical-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: $font-size-large;
}

.contact-page-horizontal-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: $font-size-small;
}

.contactpage-header{
    color: $dem-blue;
    font-size: $font-size-large;
    font-weight: bold;
}

.info-image-stripe{
    max-width: 100%;
    height: auto;
}

.info-image{
    width: 100%;
    height: auto;
}

.success-message-email{
    font-size: $font-size-large;
    color: green;
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.error-message-email{
    font-size: $font-size-large;
    color: red;
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}