.partners-header-text {
    font-size: $font-size-medium;
    font-weight: bold;
    color: $dem-blue;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 5vh;
}

.container-partners {
    padding: 40px;
    background: $light-grey;
}

.slick-slide img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.slick-slide a {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 150px;
    height: 150px;
}

.slick-slide {
    text-align: center;
}
.slick-next {
    right: 0;
}