.parent{
    padding: $font-size-medium;
}

.productpage-main-horizontal-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: $font-size-small;

}

.main {
    flex-basis: 800px;
    flex-grow: 9999;
    padding: 20px;
}

.sidebar {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 20px;
}

.productpage-image-album-and-description-container {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    gap: $font-size-small;
}

.productpage-image-and-album-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-basis: 600px;
    flex-grow: 1;
}

.productpage-image-wrapper {
    max-width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid rgba($dem-blue, 0.2);
    border-radius: 3px;
}

.productpage-image{
    width: 100%;
    border-radius: 3px;
    aspect-ratio: 1/1;
}

.productpage-description-container{
    padding-top: 10vh;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 500px;
    flex-grow: 2;
    color: $dem-blue;
    font-size: $font-size-medium;
    white-space: pre-wrap;
}
.productpage-productname{
    font-size: $font-size-ml;
    color: $dem-blue;
    font-weight: bold;
}

.container-carousel-product{
    padding: 20px;
    background: darken($off-white, 3);
    max-width: 300px;
    max-height: 300px;
}
.carousel-image{
    height: 150px !important;
    width: 150px !important;
}

.slick-prev::before,
.slick-next:before {
    color: black !important
}