.product-item-wrapper {
    border-radius: 5px;
    border: 1px solid lighten($light-grey, 5);
    background-color: white;
    padding-bottom: 1rem;
}

.img-box {
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid lighten($light-grey,10);
}

.img-box img {
    display: block;
    transition: .3s ease-in-out;
    width: 100%;
    aspect-ratio: 1/0.95;
}

.img-box:hover img {
    transform: scale(1.125);
    cursor: pointer;
}

.horizontal-product-text-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

.product-small-text {
    color: $dark-grey;
    font-size: $font-size-small*1.8;
}

.svg-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.svg-1 {
    margin: 0 auto;
    display: block;
}

.product-small-link {
    color: $dark-grey;
    text-decoration: none;
    font-size: $font-size-small*1.8;
    transition: .3s
}

.product-small-link:hover {
    color: $dem-blue-brigther;
}

.product-small-text-separator {
    margin-left: 1rem;
    margin-right: 1rem;
    color: lighten($dark-grey, 3);
}

.divider{
    border-bottom: 1px solid $light-grey;
    width: 80%;
    align-self: center;
    margin-bottom: 1rem;
}

.product-big-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: $font-size-ml;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: end;
    transition: .3s
}

.product-big-link:hover {
    color: $dem-blue-brigther;
}

.product-small-link-alt {
    color: $dem-blue-brigther;
    text-decoration: none;
    font-weight: bold;
    font-size: $font-size-small*1.8;
    transition: .3s
}

.product-small-link-alt:hover {
    color: black;
}

/*
.product-item{
    max-width: 30vw;
    max-height: 40vw;
}*/