.parent{
    padding: $font-size-medium;
    padding-right: $font-size-large;
}

.productpage-main-horizontal-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: $font-size-small;

}

.main {
    flex-basis: 600px;
    flex-grow: 9999;
    padding: 20px;
}

.sidebar {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 20px;
    background-color: $light-grey;
    color: $dem-blue;
    gap: $font-size-medium;
    border-radius: 10px;
}

.productpage-image-album-and-description-container {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    gap: $font-size-medium;
}

.productpage-image-and-album-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-basis: 400px;
    flex-grow: 1;
}

.productpage-image-wrapper {
    max-width: 600px;
    max-height: 600px;
    aspect-ratio: 1/1;
    border: 1px solid rgba($dem-blue, 0.2);
    border-radius: 5px;
}

.productpage-image{
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;
}

.productpage-description-container{
    margin-top: $font-size-ml*1.5;
    margin-right: $font-size-ml*1.5;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 400px;
    flex-grow: 2;
    font-size: $font-size-medium;
    white-space: pre-wrap;
}
.productpage-productname{
    font-size: $font-size-ml;
    color: $dem-blue;
    font-weight: bold;
}

.carousel-header{
    font-size: $font-size-medium;
    color: black;
}

.container-carousel-product{
    padding: 20px;
    background: darken($off-white, 3);
    max-width: 300px;
    max-height: 300px;
}

.container-carousel-other-products{
    padding: 20px;
    background: darken($off-white, 3);
    max-width: 200px;
    overflow: hidden;
    max-height: 80vh;
    height: 100%;
}
.carousel-item-header{
    font-size: $font-size-sm;
    color: black;
    margin-bottom: $font-size-small;
}

.carousel-item-wrapper{
    min-height: 200px;
    padding: auto;
}

.carousel-image{
    border-radius: 5px;
    height: 150px !important;
    width: 150px !important;
}

.slick-prev::before,
.slick-next:before {
    color: black !important
}