.product-item-wrapper{
    max-width: 25%;
    padding: $padding-smaller;
}

.product-secondary-wrapper{
    width:100%;    
}

.text-background-wrapper{
    background-color: $dem-blue;
    width: 100%;
    min-height: 20%;
    color: $off-white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.product-item-name{
    font-size: $font-size-medium;
}

.product-secondary-wrapper:hover > .text-background-wrapper{
    background-color: ligthen($dem-blue, 40);
}

.product-item-image{
    width: 100%;
    height: auto;
}