table {
    border-spacing: 0;
    border: 1px solid black;
    background-color: $light-grey;
    width: 60vw;
    margin-bottom: 5vh;
    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 2rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      :last-child {
        border-right: 0;
      }
    }
}

.table-header-rows{
  font-size: $font-size-large;
}

.clickable-table-row{
  font-size: $font-size-medium;
  color: $dem-blue;
}

.clickable-table-row:hover{
  background-color: lighten($dark-grey,10);
}

.clickable-table-row:hover{
  background-color: $dark-grey;
  cursor: pointer;
}