@font-face {
    font-family: "Roboto";
    src: local("Roboto"), 
    url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), 
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), 
    url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), 
    url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
    font-weight: bold;
}
@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/approuter';
@import './components/footer';
@import './components/adminpage';
@import './components/homepage';
@import './components/productspage';
@import './components/product';
@import './components/info';
@import './components//tableadmin';
@import './components/productform';
@import './components/productpage';
@import './components/partners';
@import './components/homepagemain';
@import './components/categoryform';
@import './components/loadingspinner'