html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    background-color: darken($off-white,3);
    font-family: "PT Sans";    
    overflow: overlay;
}

.top-anchor{
    position: absolute;
    top: - calc($header-height + $padding-page-container-topbot);
    visibility: hidden;
}

.page-padding{
    padding: $padding-medium;
}
@media (min-width:1025px) {
    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    body::-webkit-scrollbar-track-piece {
        display: none;
    }

    body::-webkit-scrollbar-thumb {
        background: $dark-grey;
        border-radius: 0.5rem;
        height: 30px;
    }
}