// font sizes 
$font-size-xlarge: 4rem;
$font-size-large: 3rem;
$font-size-ml: 2.5rem;
$font-size-medium: 2rem;
$font-size-sm: 1.5rem;
$font-size-small: 1rem;

// colors
$light-grey: #D3D3D3;
$dark-grey: #727376;
$darker-grey: darken($dark-grey, 30);
$off-white: #f7f7f7;
$dem-orange: #F25520;
$dem-blue: #343b70;
$dem-blue-brigther: #4551ad;

// spaces
$footer-section-one-height: 25vh;
$footer-section-two-height: 5vh;
$footer-height: calc($footer-section-one-height + $footer-section-two-height);
$header-height: 5vh;
$header-height-small: 2vh;
$footer-and-header-height: calc($footer-height + $header-height);
$padding-smallest-header: 1vh;
$padding-smallest: 0.5rem;
$padding-smaller: 2rem;
$padding-small: 4rem;
$padding-medium: 6rem;
$padding-large: 8rem;
$padding-xlarge: 12rem;
$padding-page-container-sides: 3vw;
$padding-page-container-topbot: 10vh;
$margin-smallest-sides: 2vw;
$margin-xxlarge-sides: 20vw;


//image sizes
$header-logo-image-height: 10vh;
$header-logo-image-height-small: 7vh;

$column-width-size : 25rem;